.cards {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
}
.card {
    flex: 0 0 250px;
}
header{
    background-color: #808080;
    height: 100px;
    margin-bottom: 50px;
}
section{
    background-color:#f2f2f2;
    text-align: center;
    margin:10px;
}
ul{
    padding-left:20px;
    padding-right:20px;
}
li{
    list-style-type: none;
    background-color: #dfdfdf;
    height: 30px;
    margin: 10px;
}
button{
    height: 30px;
    width: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
}