body{
    display: flex;
    flex-direction: column;
}
header,footer{
    height: 50px;
    background-color: grey;
}
img{
    height: 30px;
    margin:0px 30px 0px 30px;
}
.ha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    flex: 1;
    background-color: gainsboro;
}

.media {
    display: flex;
    align-items: flex-start;
    padding:0px 20px 0px 10px;
}
.media-body {
    flex: 1;
}
.media-object{
    margin: 19px 10px 10px 10px;
    background-color: #bdbdbd;
    width: 120px; height: 120px;
}
.media-heading{
    color:white;    
    padding:10px;
    background-color: #bdbdbd;
}